.user_content{
    position: absolute;
    left: 100px;
    top: 125px;
    width: 300px;
    height: 200px;
    color: black;
    border: 2px solid white;
    background-color: white;
    opacity: 1;
    padding: 20px;
}

.logout_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logout_img{
    width: 50px;
}